# see http://editorconfig.org/ for docs on this file

root = true

[*]
indent_style = space
indent_size = 4
; standardize all os's including windows on lf by default
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# trailing whitespace is significant in markdown (bad choice, bad!)
[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.{csproj,targets,props,config,runsettings,json,yml,yaml}]
indent_size = 2

# .net analyzer settings

[*.cs]

; public instance fields are ok when used with discretion
dotnet_diagnostic.CA1050.severity = silent
; top level names are fine
dotnet_diagnostic.CA1051.severity = silent
; don't care about this rule
dotnet_diagnostic.CA1720.severity = silent
; i accept preview features
dotnet_diagnostic.CA2252.severity = silent
; sealing types is not something i worry about (are there still perf implications for this in .net 7+?)
dotnet_diagnostic.CA1852.severity = silent

; locale warnings - i don't want to deal with these right now
dotnet_diagnostic.CA1304.severity = silent
dotnet_diagnostic.CA1305.severity = silent
dotnet_diagnostic.CA1310.severity = silent

;dotnet_diagnostic.CA1014.severity = silent
;dotnet_code_quality.CA1062.exclude_extension_method_this_parameter = true

[NiceIO.cs]
# TODO: go back and fix niceio
dotnet_diagnostic.CA1510.severity = silent
dotnet_diagnostic.CA1707.severity = silent
dotnet_diagnostic.CA1725.severity = silent
dotnet_diagnostic.CA1816.severity = silent
dotnet_diagnostic.CA1822.severity = silent
dotnet_diagnostic.CA1825.severity = silent
dotnet_diagnostic.CA1834.severity = silent
dotnet_diagnostic.CA1845.severity = silent
dotnet_diagnostic.CA1846.severity = silent
dotnet_diagnostic.CA1847.severity = silent
dotnet_diagnostic.CA1860.severity = silent
dotnet_diagnostic.CA1865.severity = silent
dotnet_diagnostic.CA1866.severity = silent
dotnet_diagnostic.CA2101.severity = silent
dotnet_diagnostic.CA2208.severity = silent
